<!DOCTYPE html>
<html>
    <head>
        <title>chat</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="icon" type="image/png" href="image/favicon.png" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="username" hidden><%= username %></div>
        <ul id="messages">
            <% messages.forEach(message => { %>
                <li>
                    <div class="date">
                        <%
                            let d = message.date
                            let hours = d.getHours()
                            if (hours < 10)
                                hours = `0${hours}`
                            let min = d.getMinutes()
                            if (min < 10)
                                min = `0${min}`
                        %>
                        <%= `${d.getDate()}/${d.getMonth()}/${d.getFullYear()} ` +
                            `${hours}:${min}` %>
                    </div>
                    <div class="author"><%= message.author %></div>
                    <div class="content"><%= message.content %></div>
                </li>
            <% }) %>
        </ul>

        <div id="input-box">
            <textarea rows="1" id="input-message" ></textarea>
            <img src="image/send.svg" alt="send" id="button-send"/>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
