:root {
    --primary: #8bf6ff;
}

body {
    background: #212121;
    color: #eee;
    font-family: sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

#messages {
    padding: 0;
    margin-bottom: 4em;
}

#messages li {
    border-bottom: 1px solid #444;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

li:nth-child(odd) {
    background: #252525;
}

.author {
    color: var(--primary);
    margin-right: 15px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
}

.date {
    color: #888;
    margin-right: 15px;
    font-size: 0.75em;
    white-space: nowrap;
}

.content {
    color: #eee;
    word-break: break-all;
}

#input-box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #002171;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button-send {
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    filter: invert(80%);
    margin-right: 10px;
    margin-left: 10px;
}

#button-send:hover {
    transition: 0.5s;
    background: #eeeeeeaa;
}

#input-message {
    flex-grow: 1;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    border-color: #444;
    padding: 5px;
    background: #222;
    color: #eee;
    font-size: 1.1em;
    margin-left: 10px;
}

#input-message:focus {
    transition: 0.2s;
    border-color: var(--primary);
    outline: none;
}
