body {
    background: #222;
    color: #eee;
    font-family: sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

#messages {
    padding: 0;
    margin-bottom: 5em;
    border-spacing: 0;
    border-collapse: collapse;
}

#messages tr {
    /* display: flex; */
    /* align-items: center; */
    border-bottom: 1px solid #444;
    /* border: solid; */
    /* border-width: 0; */
    /* border-bottom-width: 1px; */
    /* border-color: #fff; */
}

td {
    padding: 5px;
    padding-top: 10px;
}

.author {
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
}

.date {
    margin-right: 15px;
    font-size: 0.75em;
    white-space: nowrap;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#button-send {
    width: 5em;
    font-weight: bold;
    padding: 5px;
}

#input-message {
    width: 70%;
    margin: 5px;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: #eee;
    padding: 5px;
    background: #222;
    color: #eee;
}
